:root {
  --color-primary: #eb2f64;
  --color-primary-light: #ff3366;
  --color-primary-dark: #ba265d;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
}

.paragraph {
  padding: 1rem 0;
  color: var(--color-grey-dark-2);
}

.logo {
  display: block;
  width: 3rem;
  height: 3rem;
  margin: 0 auto;
}

.icon-nav {
  height: 2rem;
  width: 2rem;
  fill: var(--color-grey-dark-2);
}

.icon-img-nav {
  height: 3rem;
  width: 3rem;
  border-radius: 10rem;
}

.icon-img-desc {
  height: 3rem;
  width: 3rem;
  border-radius: 10rem;
  border: 3px solid var(--color-grey-light-2);
}
.icon-img-desc:not(:first-child) {
  margin-left: -1rem;
}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.search__input {
  width: 60%;
  height: 100%;
  padding: 0 1rem;
  border: none;
  border-radius: 10rem;
  background-color: var(--color-grey-light-1);
  font-family: inherit;
  font-size: 1.3rem;
  color: var(--color-grey-dark-1);
}
.search__input:focus {
  outline: none;
}
.search__input::-webkit-input-placeholder {
  font-size: 1.1rem;
  color: var(--color-grey-light-4);
}
.search__icon {
  width: 2rem;
  height: 2rem;
  transform: translateX(-3rem);
  fill: var(--color-grey-dark-3);
}

.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  flex: 0 0 10%;
}
.header__search {
  flex: 1;
  align-self: stretch;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
.header__nav {
  flex: 0 0 30%;
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
.header__nav--icon {
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.header__nav--icon:hover {
  background-color: var(--color-grey-light-1);
}
.header__nav--icon-text {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-primary);
  border-radius: 10rem;
  color: var(--color-grey-light-1);
  text-align: center;
}
.header__nav--img {
  flex: 1 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5rem;
}
.header__nav--img-text {
  padding: 0 0.5rem;
}
.header__nav--img:hover {
  background-color: var(--color-grey-light-1);
}

.nav {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-dark-1);
  color: var(--color-grey-light-3);
}
.nav__nav {
  width: 100%;
  padding: 1rem 0;
}
.nav__nav--list {
  list-style: none;
}
.nav__nav--list-link {
  position: relative;
}
.nav__nav--list-link:link, .nav__nav--list-link:visited {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  position: relative;
  z-index: 1;
  text-decoration: none;
  color: inherit;
}
.nav__nav--list-link:active {
  color: var(--color-grey-dark-1);
}
.nav__nav--list-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1%;
  height: 100%;
  z-index: -1;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s 0.2s;
}
.nav__nav--list-link:hover::after {
  width: 100%;
  transform: scaleY(1);
}
.nav__nav--list-link:active::after {
  background-color: var(--color-grey-light-1);
}
.nav__nav--list-link:active .nav__nav--list-icon {
  fill: var(--color-grey-dark-1);
}
.nav__nav--list-icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--color-grey-light-3);
}
.nav__nav--list-text {
  padding: 0 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
}
.nav__footer {
  padding: 1rem 1rem;
  text-align: center;
}

.overview {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-grey-light-1);
}
.overview__title {
  padding: 1.5rem 2.5rem;
  color: var(--color-grey-dark-2);
  font-weight: 300;
  font-size: 1.7rem;
  text-transform: uppercase;
}
.overview__rating {
  display: flex;
  margin-right: auto;
}
.overview__rating--icon {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--color-primary);
}
.overview__location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
}
.overview__location--icon {
  width: 2.7rem;
  height: 2.7rem;
  padding: 0 0.5rem;
  fill: var(--color-primary);
}
.overview__location--text {
  color: var(--color-primary);
  border-bottom: 1px solid currentColor;
}
.overview__voting {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  color: var(--color-grey-light-3);
  background-color: var(--color-primary);
}
.overview__voting--avg {
  font-size: 1.7rem;
}

.container {
  height: 100vh;
  padding-top: 10rem;
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
}

.box {
  width: 70%;
  margin: 0 auto;
  background-color: var(--color-grey-light-3);
  box-shadow: 5px 10px 30px 10px rgba(0, 0, 0, 0.3);
}

.content {
  display: flex;
  height: 90%;
}

.main {
  flex-grow: 1;
}
.main__pics {
  display: flex;
  height: 20%;
}
.main__pics--img {
  display: block;
  width: 33.33%;
  height: 100%;
}
.main__content {
  display: flex;
}
.main__content--description {
  flex: 0 0 60%;
  margin: 2rem 2rem;
  background-color: var(--color-grey-light-1);
  box-shadow: 5px 5px 5px var(--color-grey-dark-3);
}
.main__content--description-text {
  margin: 1rem 2rem;
  border-bottom: 1px solid var(--color-grey-light-3);
}
.main__content--description-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 2rem;
  padding-bottom: 1rem;
  color: var(--color-grey-dark-2);
  border-bottom: 1px solid var(--color-grey-light-3);
}
.main__content--description-list-item {
  flex: 0 0 50%;
  padding: 0.3rem 0;
}
.main__content--description-list-item::before {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: var(--color-primary);
  -webkit-mask-image: url("../img/chevron-thin-right.svg");
  -webkit-mask-size: cover;
}
.main__content--description-recommend {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
.main__content--description-recommend-text {
  margin-right: auto;
  color: var(--color-grey-dark-2);
}

/*# sourceMappingURL=main.css.map */
