.icon-nav {
  height: 2rem;
  width: 2rem;

  fill: var(--color-grey-dark-2);
}

.icon-img-nav {
  height: 3rem;
  width: 3rem;

  border-radius: 10rem;
}

.icon-img-desc {
  height: 3rem;
  width: 3rem;

  border-radius: 10rem;
  border: 3px solid var(--color-grey-light-2);

  &:not(:first-child) {
    margin-left: -1rem;
  }
}
